body {
    background-image: url(../img/full-bloom.png);
}

.logo {
font-family: 'Peralta', cursive;
}

.logo a {
color: rgba(0,0,0,.9);
}

.logo a:hover,
.logo a:active {
text-decoration: none;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    /* max-width: 300px; */
    margin: auto;
    /* text-align: center; */
    font-family: arial;
}