{% extends 'base.html' %}

{% block breadcrumb %}
  <li class="breadcrumb-item active">Users</li>
{% endblock %}

{% block content %}
  <table class="table">
    <thead class="thead-inverse">
      <tr>
        <th>User</th>
      </tr>
    </thead>
    <tbody>
      {% for user in users %}
        <tr>
          <td>
            <a href="{% url 'users_detail' user.pk %}">{{ user.username }}</a>
            <small class="text-muted d-block">{{ user.email }}</small>
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}